In [2]:
import pandas as pd

Import all the files

In [13]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [14]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [15]:
visits_cart = pd.merge(visits, cart, how='left')
visits_cart.head(10)

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT
5,7bc62113-d51d-4e6b-85e0-1cf29e3de74a,2017-06-03 20:05:00,NaT
6,6f22cd44-bc63-4449-a9af-2651859da2f9,2017-03-18 23:09:00,NaT
7,49a6399b-c095-4e42-92eb-af90abe2bb6a,2017-01-10 12:09:00,NaT
8,653c095d-fd74-40dd-ae3b-5a69a2613629,2017-06-27 19:21:00,NaT
9,3d9fdac1-aae3-4a01-b448-934d12047468,2017-09-24 06:43:00,NaT

Step 3: How long is `visits_cart`?

In [16]:
length_v_c= len(visits_cart)
print (length_v_c)

2000

Step 4: How many timestamps are null for `cart_time`?

In [17]:
cart_time_null = visits_cart['cart_time'].isnull().sum()
print (cart_time_null)

1652

Step 5: What percentage only visited?

In [18]:
visited_not_cart = float(cart_time_null) / float(length_v_c) * 100

print(visited_not_cart)

82.6

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [19]:
cart_checkout= pd.merge(cart, checkout, how='left')
cart_checkout.head()

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
2,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
3,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00
4,a68a16e2-94f0-4ce8-8ce3-784af0bbb974,2017-07-26 15:48:00,NaT

In [20]:
checkout_null = cart_checkout['checkout_time'].isnull().sum()
print (checkout_null)

122

In [21]:
total_length = len(cart_checkout['cart_time'])
print(total_length)

348

In [22]:
percentage_not_proceed = (float (checkout_null)/float(total_length))*100
print ("Percetange of users put items in their cart, but did not proceed to checkout: ", percentage_not_proceed)

Percetange of users put items in their cart, but did not proceed to checkout:  35.05747126436782

Step 7: Merge it all together

In [23]:
all_data = visits_cart.merge(cart_checkout, how ='left').merge(purchase, how='left')
all_data.head(10)

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT
5,7bc62113-d51d-4e6b-85e0-1cf29e3de74a,2017-06-03 20:05:00,NaT,NaT,NaT
6,6f22cd44-bc63-4449-a9af-2651859da2f9,2017-03-18 23:09:00,NaT,NaT,NaT
7,49a6399b-c095-4e42-92eb-af90abe2bb6a,2017-01-10 12:09:00,NaT,NaT,NaT
8,653c095d-fd74-40dd-ae3b-5a69a2613629,2017-06-27 19:21:00,NaT,NaT,NaT
9,3d9fdac1-aae3-4a01-b448-934d12047468,2017-09-24 06:43:00,NaT,NaT,NaT

Step 8: % of users who got to checkout but did not purchase

In [26]:
reached_checkout = all_data[~all_data.checkout_time.isnull()]
print (reached_checkout)

                                   user_id          visit_time  \
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
14    486480e2-98c3-4d51-8f4b-b1c07228ce84 2017-01-27 16:34:00
31    1868e912-b38c-4ef0-8824-5665c42288e5 2017-03-17 11:48:00
48    3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:21:00
49    3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:21:00
...                                    ...                 ...
2083  d2cb350b-2201-4290-b2e0-84a8bf0d6883 2017-08-08 16:05:00
2093  f46c88d0-2441-40a8-97fe-6841ff6f050d 2017-09-06 08:42:00
2097  f783c680-1d9a-437d-9f45-7827299b78fa 2017-06-25 08:07:00
2098  f783c680-1d9a-437d-9f45-7827299b78fa 2017-06-25 08:07:00
2099  f783c680-1d9a-437d-9f45-7827299b78fa 2017-06-25 08:07:00

               cart_time       checkout_time       purchase_time
1    2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
14   2017-01-27 16:44:00 2017-01-27 17:10:00 2017-01-27 17:12:00
31   2017-03-17 11:56:00 2017-03-17 11:58:00                 NaT
48   2017-01-08 20:38:00 2017-01-08 20:52:00 2017-01-08 21:02:00
49   2017-01-08 20:38:00 2017-01-08 20:52:00 2017-01-08 21:21:00
...                  ...                 ...                 ...
2083 2017-08-08 16:07:00 2017-08-08 16:34:00 2017-08-08 16:34:00
2093 2017-09-06 09:02:00 2017-09-06 09:22:00 2017-09-06 09:28:00
2097 2017-06-25 08:08:00 2017-06-25 08:28:00 2017-06-25 08:39:00
2098 2017-06-25 08:08:00 2017-06-25 08:28:00 2017-06-25 08:35:00
2099 2017-06-25 08:08:00 2017-06-25 08:28:00 2017-06-25 08:18:00

[334 rows x 5 columns]

In [24]:
checkout_not_purchase = all_data[(all_data.purchase_time.isnull()) & (~all_data.checkout_time.isnull())]
print (checkout_not_purchase)

                                   user_id          visit_time  \
31    1868e912-b38c-4ef0-8824-5665c42288e5 2017-03-17 11:48:00
54    dc5d8fe9-3321-4c86-b66d-7c343decdc4a 2017-09-13 13:06:00
146   fffc2dfc-fdc1-407a-9c6d-e6507157d1a6 2017-07-03 19:20:00
151   0182a7b9-2099-4476-8f7d-51f2c2f71dff 2017-09-08 16:26:00
161   2faac6a9-974c-49fb-b815-44f3a5fc06e1 2017-03-27 21:51:00
...                                    ...                 ...
2024  61916219-9600-4c72-93fc-666dd9285fb9 2017-01-04 05:20:00
2037  699acf1d-b5e0-4573-a54b-97ecd4c93572 2017-08-19 08:09:00
2056  4686af83-e275-49f7-a82b-c32f3521372a 2017-09-23 16:46:00
2070  3a6487df-d934-4d28-b531-1166621eb7db 2017-08-12 17:59:00
2078  5cda3654-faab-4432-ae28-0edca81de2f5 2017-08-23 08:29:00

               cart_time       checkout_time purchase_time
31   2017-03-17 11:56:00 2017-03-17 11:58:00           NaT
54   2017-09-13 13:30:00 2017-09-13 13:26:00           NaT
146  2017-07-03 19:40:00 2017-07-03 19:51:00           NaT
151  2017-09-08 16:34:00 2017-09-08 16:59:00           NaT
161  2017-03-27 21:54:00 2017-03-27 22:19:00           NaT
...                  ...                 ...           ...
2024 2017-01-04 05:23:00 2017-01-04 05:32:00           NaT
2037 2017-08-19 08:32:00 2017-08-19 08:56:00           NaT
2056 2017-09-23 16:55:00 2017-09-23 17:16:00           NaT
2070 2017-08-12 18:10:00 2017-08-12 18:17:00           NaT
2078 2017-08-23 08:55:00 2017-08-23 09:05:00           NaT

[82 rows x 5 columns]

In [27]:
checkout_not_purchase_percent = float(len(checkout_not_purchase)) / float(len(reached_checkout))*100

print("% of users who got to checkout but did not purchase:",checkout_not_purchase_percent)

% of users who got to checkout but did not purchase: 24.550898203592812

Step 9: check each part of the funnel, let's print all 3 of them again

In [37]:
print (f"{round(visited_not_cart,2)} Percent of users who visited the page did not add a t-shirt to their cart.")
print (f"{round(percentage_not_proceed,2)} Percent of users who added a t-shirt to their cart did not checkout.")
print (f"{round(checkout_not_purchase_percent,2)} Percent of users who made it to checkout  did not purchase a shirt.")

82.6 Percent of users who visited the page did not add a t-shirt to their cart.
35.06 Percent of users who added a t-shirt to their cart did not checkout.
24.55 Percent of users who made it to checkout  did not purchase a shirt.

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [38]:
all_data['time_to_purchase'] = \
    all_data.purchase_time - \
    all_data.visit_time

Step 11: examine the results

In [39]:
print(all_data.time_to_purchase)

0                  NaT
1      0 days 00:44:00
2                  NaT
3                  NaT
4                  NaT
             ...
2103               NaT
2104               NaT
2105               NaT
2106               NaT
2107               NaT
Name: time_to_purchase, Length: 2108, dtype: timedelta64[ns]

Step 12: average time to purchase

In [40]:
print(all_data.time_to_purchase.mean())

0 days 00:43:12.380952380